@{
    ViewData["Title"] = "Home Page";
}

    <body>
     

        <div class="text-center">
            <h1 class="display-4">Implemention OF JWT authentication</h1>
            <p>Kindly login/register to proceed</p>
        </div>
    </body>